{% extends "base.html" %}
{% block content %}
<div id="login-box">
  <form class="form-signin w-100 m-auto" method="POST" action="">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="{{ url_for('static', filename='images/temp_logo.png') }}" alt="Logo Temporário"
      height="57" />
    <h1 class="h3 mb-3 fw-normal">Faça o login</h1>

    <div class="form-floating mb-3">
      {{ form.email(class="form-control", id="floatingInput", placeholder="nome@exemplo.com") }}
      {{ form.email.label(class="form-label", for="floatingInput") }}
    </div>

    <div class="form-floating mb-3">
      {{ form.password(class="form-control", id="floatingPassword", placeholder="Senha") }}
      {{ form.password.label(class="form-label", for="floatingPassword") }}
    </div>

    <div class="form-check text-start my-3">
      {{ form.remember_me(class="form-check-input", id="flexCheckDefault") }}
      {{ form.remember_me.label(class="form-check-label", for="flexCheckDefault") }}
    </div>
    {{ form.submit(class="btn btn-primary w-100 py-2") }}
  </form>
</div>
{% endblock content %}