{% extends "base.html" %} {% block content %}
<div class="container content">
  <div class="content-section">
    <h1 style="text-align: center; margin-bottom: 2rem">
      Bem-vindo(a), {{ current_user.nome }} {{ current_user.sobrenome }}
    </h1>
    <div class="media">
      <div class="media-avatar">
        <img class="rounded-circle account-img" src="{{ current_user.foto_perfil }}" width="200px" />
      </div>
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.nome_usuario }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
        {% if current_user.tipo_usuario == 'medico' %}
        <p class="text-secondary">CRM: {{ crm }}</p>
        {% endif %}
      </div>
    </div>
    <!-- FORM -->
    <h3>Atualizar dados</h3>
    <hr />
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.nome.label }}
        {{ form.nome(class_="form-control") }}
        {% if form.nome.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.nome.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.sobrenome.label }}
        {{ form.sobrenome(class_="form-control") }}
        {% if form.sobrenome.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.sobrenome.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.nome_usuario.label }}
        {{ form.nome_usuario(class_="form-control") }}
        {% if form.nome_usuario.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.nome_usuario.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
        {% if form.email.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.telefone.label }}
        {{ form.telefone(class_="form-control") }}
        {% if form.telefone.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.telefone.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.cidade.label }}
        {{ form.cidade(class_="form-control") }}
        {% if form.cidade.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.cidade.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.estado.label }}
        {{ form.estado(class_="form-control") }}
        {% if form.estado.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.estado.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.pais.label }}
        {{ form.pais(class_="form-control") }}
        {% if form.pais.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.pais.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.data_nascimento.label }}
        {{ form.data_nascimento(class_="form-control") }}
        {% if form.data_nascimento.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.data_nascimento.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.genero.label }}
        {{ form.genero(class_="form-control") }}
        {% if form.genero.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.genero.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.bio.label }}
        {{ form.bio(class_="form-control") }}
        {% if form.bio.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.bio.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if current_user.tipo_usuario == 'medico' %}
      <div class="mb-3">
        {{ form.especialidade.label }}
        {{ form.especialidade(class_="form-control") }}
        {% if form.especialidade.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.especialidade.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="mb-3">
        {{ form.foto_perfil.label() }}
        {{ form.foto_perfil(class_="form-control-file") }}
        {% if form.foto_perfil.errors %}
        <div class="invalid-feedback d-block">
          {% for error in form.foto_perfil.errors %}
          <span class="text-danger">{{ error }}</span><br />
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.notificacoes.label }}
        {{ form.notificacoes(class_="form-check-input") }}
      </div>
      <div>{{ form.submit(class_="btn btn-success") }}</div>
    </form>

    <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteModal">
      Excluir conta
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar exclusão</h5>
      </div>
      <div class="modal-body">Deseja mesmo excluir sua conta? Esta ação é definitiva.<br>
        {% if current_user.posts or current_user.comentarios %}
        <span style="color: red;">Todas as suas postagens e comentários serão excluídos</span>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Voltar
        </button>
        <form action="{{ url_for('users.delete_user', user_id=current_user.id) }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="submit" class="btn btn-danger" value="Excluir conta"></input>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}