{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="text-center mb-5">
    <h1 class="display-4 font-weight-bold text-primary">Sobre a AIDS</h1>
    <p class="text-muted">
      Saiba mais sobre os sintomas, formas de prevenção e tratamento da AIDS,
      uma doença causada pelo HIV.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="h4 text-success font-weight-bold mb-3">O que é a AIDS?</h2>
      <p>
        A AIDS é uma condição que afeta o sistema imunológico, causada pela
        infecção pelo HIV, que enfraquece as defesas do corpo humano e torna-o
        vulnerável a infecções e doenças.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="{{ url_for('static', filename='images/aids.jpg') }}"
        alt="Imagem sobre a AIDS"
        class="img-fluid rounded shadow-sm"
      />
    </div>
  </div>

  <hr class="my-5" />

  <div class="row">
    <div class="col-lg-6">
      <h2 class="h4 text-warning font-weight-bold mb-3">Sintomas</h2>
      <ul class="list-group">
        <li class="list-group-item">Febre constante</li>
        <li class="list-group-item">Suor excessivo, principalmente à noite</li>
        <li class="list-group-item">Perda de peso inexplicável</li>
        <li class="list-group-item">Infeções frequentes</li>
        <li class="list-group-item">Fadiga extrema</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2 class="h4 text-info font-weight-bold mb-3">Prevenção</h2>
      <ul class="list-unstyled">
        <li class="mb-2">
          <i class="bi bi-shield-lock-fill text-danger"></i>
          <strong>Uso de preservativos:</strong> Utilize preservativo em todas
          as relações sexuais.
        </li>
        <li class="mb-2">
          <i class="bi bi-syringe text-primary"></i>
          <strong>Testes regulares:</strong> Realize o teste de HIV
          regularmente, especialmente se tiver múltiplos parceiros sexuais.
        </li>
        <li class="mb-2">
          <i class="bi bi-heart text-dark"></i>
          <strong>Atenção à saúde:</strong> Manter um estilo de vida saudável e
          consultar um médico regularmente.
        </li>
      </ul>
    </div>
  </div>

  <hr class="my-5" />

  <div class="text-center">
    <h2 class="h4 text-danger font-weight-bold">
      Juntos, podemos combater a AIDS!
    </h2>
    <p class="text-muted">
      Faça sua parte prevenindo a disseminação do HIV e apoiando os portadores
      da doença.
    </p>
    <a href="/contato" class="btn btn-primary btn-lg"> Fale Conosco</a>
  </div>

  <hr class="my-5" />

  <div>
    <h2 class="h4 text-info font-weight-bold mb-3">Recursos e Apoio</h2>
    <ul>
      <li>
        <strong>Ministério da Saúde:</strong>
        <a
          href="https://www.gov.br/pt-br/servicos/habilitar-se-para-assistencia-no-tratamento-da-lipodistrofia-e-lipoatrofia-facial-do-portador-de-hiv-e-aids"
          target="_blank"
          >www.gov.br/saude</a
        >
        - Informações oficiais sobre a prevenção, diagnóstico e tratamento do
        HIV/AIDS.
      </li>
      <li>
        <strong
          >UNAIDS (Programa Conjunto das Nações Unidas sobre HIV/AIDS):</strong
        >
        <a href="https://www.unaids.org/" target="_blank">www.unaids.org</a> -
        Dados globais, campanhas de conscientização e estratégias de erradicação
        do HIV/AIDS.
      </li>
      <li>
        <strong>Fiocruz (Fundação Oswaldo Cruz):</strong>
        <a
          href="https://portal.fiocruz.br/noticia/2024/11/csp-nova-edicao-discute-temas-como-politicas-de-hiv-aids-aborto-e-uso-de-drogas"
          target="_blank"
          >portal.fiocruz.br</a
        >
        - Pesquisas e iniciativas sobre prevenção e manejo do HIV/AIDS no
        Brasil.
      </li>
      <li>
        <strong>Sociedade Brasileira de Infectologia (SBI):</strong>
        <a href="https://www.infectologia.org.br/" target="_blank"
          >www.infectologia.org.br</a
        >
        - Orientações sobre tratamentos atualizados e prevenção de doenças
        associadas ao HIV.
      </li>
      <li>
        <strong>ABIA (Associação Brasileira Interdisciplinar de AIDS):</strong>
        <a href="https://abiaids.org.br/" target="_blank">www.abiaids.org.br</a>
        - Publicações e campanhas educativas focadas em direitos, prevenção e
        estigma relacionado ao HIV/AIDS.
      </li>
      <li>
        <strong>GIV (Grupo de Incentivo à Vida):</strong>
        <a href="https://giv.org.br/" target="_blank">www.giv.org.br</a> - Apoio
        e acolhimento para pessoas vivendo com HIV/AIDS, com foco na qualidade
        de vida e combate ao preconceito.
      </li>
      <li>
        <strong>UNICEF Brasil:</strong>
        <a
          href="https://www.unicef.org/brazil/hiv-aids-e-sifilis"
          target="_blank"
          >www.unicef.org/brazil</a
        >
        - Projetos de apoio à juventude e prevenção de HIV/AIDS em populações
        vulneráveis.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
