{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="text-center mb-5">
    <h1 class="display-4 font-weight-bold text-primary">Contato</h1>
    <p class="text-muted">Entre em contato conosco pelos canais abaixo:</p>
  </div>

  <div class="text-center">
    <p class="lead">
      <strong>Telefone:</strong> (61) 99584-1951<br />
      <strong>Email:</strong>
      <a href="mailto:rosicreferreira@gmail.com">rosicreferreira@gmail.com</a>
    </p>
  </div>

  <!-- Informações de Campanhas e Órgãos -->
  <div class="text-center mt-5">
    <h4>Organizações e Órgãos de Saúde</h4>
    <ul class="list-unstyled">
      <li>
        <strong
          ><a href="https://www.gov.br/saude/pt-br" target="_blank"
            >Ministério da Saúde</a
          ></strong
        >
        - Acesse informações sobre campanhas nacionais de saúde.
      </li>
      <li>
        <strong
          ><a href="https://www.gov.br/saude/pt-br/sus" target="_blank"
            >SUS - Sistema Único de Saúde</a
          ></strong
        >
        - Saiba mais sobre os serviços gratuitos de saúde no Brasil.
      </li>
      <li>
        <strong
          ><a href="https://www.inca.gov.br" target="_blank"
            >INCA - Instituto Nacional de Câncer</a
          ></strong
        >
        - Acompanhe as campanhas de prevenção ao câncer e informações sobre o
        tratamento.
      </li>
      <li>
        <strong
          ><a href="https://www.fiocruz.br" target="_blank">Fiocruz</a></strong
        >
        - Conheça as campanhas e projetos da Fiocruz relacionados à saúde
        pública.
      </li>
      <li>
        <strong
          ><a href="https://gapabrsp.org.br/" target="_blank"
            >GAPA - Grupo de Apoio à Prevenção da Aids</a
          ></strong
        >
        - Acesse informações e apoio sobre AIDS e saúde sexual.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
