{% extends "base.html" %}
{% block content %}
<div class="container content">
    {% for post in postagens %}
    <div class="post-block">
        <a href="{{ url_for('posts.view_post', post_id=post.id) }}">
            <div>
                <h2>{{ post.titulo }}</h2>
                <img src="{{ post.autor.foto_perfil }}" alt="{{ post.autor.nome_usuario }}" />
                <p>
                    Publicado por <span style="color: aqua;">{{ post.autor.nome_usuario }}</span> em
                    {{ post.data_formatada }}
                </p>
                {{ post.conteudo | safe }}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}