{% extends "base.html" %}
{% block content %}
<div class="container content">
    <h1>{{ post.titulo }}</h1>
    <div>
        {{ post.conteudo | safe }}
    </div>
    {% if current_user == post.autor %}
    <a href="{{ url_for('posts.edit_post', post_id=post.id ) }}" class="btn btn-secondary mt-4">
        Editar
    </a>
    <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteModal">
        Excluir
    </button>
    {% endif %}

    <div class="post-block">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.conteudo.label() }}
            {{ form.conteudo(class_="form-control") }}
            {% for error in form.conteudo.errors %}
            <span>{{ error }}</span>
            {% endfor %}

            {{ form.submit(class_="btn btn-primary") }}
        </form>

        <hr>

        {% if not post.comentarios %}
        <div style="display: flex; justify-content: center;">
            <h4>Seja o primeiro a comentar.</h4>
        </div>
        {% endif %}
        {% for comentario in post.comentarios %}
        <div id="comment-{{ comentario.id }}">
            <img src="{{ comentario.autor.foto_perfil }}" alt="{{ comentario.autor.nome_usuario }}">
            <h3>{{ comentario.autor.nome_usuario }}</h3>
            <p id="comment-content-{{ comentario.id }}">{{ comentario.conteudo | safe }}</p>

            <!-- Formulário de edição oculto -->
            <form id="edit-form-{{ comentario.id }}"
                action="{{ url_for('comments.edit_comment', comment_id=comentario.id) }}" method="post"
                style="display: none;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <textarea name="conteudo" class="form-control" maxlength="5000"
                    required>{{ comentario.conteudo | safe }}</textarea>
                {% for error in form.conteudo.errors %}
                <span>{{ error }}</span>
                {% endfor %}

                <button type="submit">Salvar</button>
                <button type="button" onclick="hideEditForm('{{ comentario.id }}')">Cancelar</button>
            </form>

            {% if current_user == comentario.autor %}
            <button type="button" onclick="showEditForm('{{ comentario.id }}')">✏️</button>

            <form action="{{ url_for('comments.delete_comment', comment_id=comentario.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" value="🗑️"></input>
            </form>
            {% endif %}

        </div>


        {% endfor %}

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar exclusão</h5>
            </div>
            <div class="modal-body">Excluir a postagem? Esta ação é definitiva.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Voltar
                </button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" class="btn btn-danger" value="Excluir"></input>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showEditForm(commentId) {
        document.getElementById('edit-form-' + commentId).style.display = 'block';
        document.getElementById('comment-content-' + commentId).style.display = 'none';
    }

    function hideEditForm(commentId) {
        document.getElementById('edit-form-' + commentId).style.display = 'none';
        document.getElementById('comment-content-' + commentId).style.display = 'block';
    }
</script>
{% endblock content %}