/*Reset: tira as configurações padrão html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Variáveis: facilita mudanças de coisas já feitas */
:root {
    --header-height: 5.8rem;
    --y-padding: 3rem;
    --x-sm-margin: 10%;
    --x-md-margin: 30%;
    --x-lg-margin: 35%;
    /* Cores: ao mudar o valor 'hue' você altera as cores do site */
    --hue: 159;
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    /* Fontes */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Raleway', sans-serif;
    --body-font: 'Raleway', sans-serif;
}

/* Padrões */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

.button:hover {
    background: var(--base-color-alt);
}

.content {
    margin-top: var(--header-height);
}

/* Header e menu */
#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
}

.logo img {
    height: 2rem;
}

nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-icon {
    width: 2rem;
}

/* Página login */

.login {
    margin-top: var(--header-height);
    padding-top: var(--y-padding);
    margin-left: var(--x-sm-margin);
    margin-right: var(--x-sm-margin);
}

@media (min-width: 760px) {
    .login {
        margin-left: var(--x-md-margin);
        margin-right: var(--x-md-margin);
    }
}

@media (min-width: 1200px) {
    .login {
        margin-left: var(--x-lg-margin);
        margin-right: var(--x-lg-margin);
    }
}

.log-space {
    padding-bottom: 1rem;
}

#create-forgot {
    padding-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.alert {
    position: relative;
    z-index: 101;
    margin: 1rem;
}

.flash-messages {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: center;
}

.account-img {
    border: 2px solid #444;
    padding: 5px;
    margin-right: 20px;
}

.account-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.content-section {
    background-color: #343a40;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 25%;
}

.media-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos temporários para a home */


.post-block {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-block h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.post-block img {
    width: 50px;
    /* Define a largura da imagem */
    height: 50px;
    /* Define a altura da imagem */
    border-radius: 50%;
    /* Torna a imagem circular */
    float: left;
    /* Alinha a imagem à esquerda */
    margin-right: 15px;
    /* Adiciona um espaçamento à direita da imagem */
    object-fit: cover;
    /* Garante que a imagem se ajuste bem ao container */
    max-width: 100%;
    /* Impede que a imagem ultrapasse o tamanho do container */
}


.post-block p {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    margin-bottom: 10px;
}

.post-block p small {
    display: block;
    font-size: 12px;
    color: #999;
}

.post-block .post-content {
    clear: both;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}