/*Reset: tira as configurações padrão html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Variáveis: facilita mudanças de coisas já feitas */
:root {
    --header-height: 4.5rem;
    --y-padding: 3rem;
    --x-sm-margin: 10%;
    --x-md-margin: 30%;
    --x-lg-margin: 35%;
    /* Cores: ao mudar o valor 'hue' você altera as cores do site */
    --hue: 159;
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    /* Fontes */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Raleway', sans-serif;
    --body-font: 'Raleway', sans-serif;
}

/* Padrões */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

.button:hover {
    background: var(--base-color-alt);
}

/* Header e menu */
#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-icon {
    width: 1.5rem;
}

/* Página login */

.login {
    margin-top: var(--header-height);
    padding-top: var(--y-padding);
    margin-left: var(--x-sm-margin);
    margin-right: var(--x-sm-margin);
}

@media (min-width: 760px) {
    .login {
        margin-left: var(--x-md-margin);
        margin-right: var(--x-md-margin);
    }
}

@media (min-width: 1200px) {
    .login {
        margin-left: var(--x-lg-margin);
        margin-right: var(--x-lg-margin);
    }
}

.log-space {
    padding-bottom: 1rem;
}